.boxPerawatan{
  height: 200px;
  width: 200px;
  border-radius: 15px;
  margin-left: 30px;
  display:inline-block;
  justify-Content: 'center';
  text-align:'center';
  border-radius: 10px;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    font-weight: bold;
    background-color:rgb(247, 177, 47)
}
.boxMeninggal{
  height: 200px;
  width: 200px;
  border-radius: 15px;
  margin-left: 30px;
  display:inline-block;
  justify-Content: 'center';
  text-align:  'center';
  border-radius: 10px;
    border-width :5px;
    border-color:rgb(2, 2, 2);
    border-style: solid;
    font-weight: bold;
    background-color:rgb(207, 75, 52)
}

.boxSembuh{
  height: 200px;
  width: 200px;
  border-radius: 15px;
  margin-left: 30px;
  display:inline-block;
  justify-Content: 'center';
  text-align:  'center';
  border-radius: 10px;
    border-width: 5px;
    border-color: rgb(7, 7, 6);
    border-style: solid;
    font-weight: bold;
    background-color:rgb(135, 219, 39)
}